/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgb(232,238,245);
    background: linear-gradient(215deg, rgba(232,238,245,1) 50%, rgba(164,186,214,1) 50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 93.95vh; */
}
:root{
    /* background colors */
    --bg-color-1: #a4bad6;
    --bg-color-2: #e8eef5;
    --bg-color-3: #dde8f7;
    --bg-reg-mobile-1: #f8fbff;
    --bg-reg-mobile-2: #57708f;
    --bg-input-mobile-1: #7a8ea7;

    /* font colors */
    --color-1: #143a6a;
    --color-2: #0e2a4c;
    --color-3: #7798c1; /*hover navbar*/ /*#a4bad6*/
    --color-4: #e8eef5;

    /* Button colors */
    --btn-color-1: #3677b0;
    --btn-color-2: #3c84c4;
    --btn-color-3: #f8f5f5;
    
    /* Button hover */
    --link-color-1: #19a6f3;
    --link-color-2: #0767a2;

    /* Fonts Bold */
    --bold-1: 300;
    --bold-2: 400;
    --bold-3: 500;
    --bold-4: 900; 
}
.btn-primary,
.btn-primary:visited {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-primary:hover,
.btn-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-2) !important;
    border-color: var(--btn-color-2) !important;
}
.btn-outline-primary,
.btn-outline-primary:visited {
    color: var(--color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
}

/* Main section */

.form-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.new-password-container {
    display: flex;
    flex-direction: row;
    width:70%;
    margin: 2.5rem auto;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px 0 0 5px;
}
.new-password-left-container {
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    position: relative;
    text-align: center;
    display: block;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    padding: 1rem 0;
}
.new-password-img1{
    width: 50px;
}
.new-password-left-title{
    font-size: 15px;
    font-weight: var(--bold-3);
    margin-top: 5px;
}
.new-password-left-description{
    font-size: 10px;
    margin-top: 16px;
    font-weight: var(--bold-2);
}
.new-password-img2{
    width: 250px;
    margin-top: 1rem;
}
.new-password-icon-sosmed{
    margin-top: 2rem;
}
.socmed-link{
    color: #000000;
}
.socmed-link:hover{
    color: var(--btn-color-1);
}
.bi{
    font-size: 12px;
    padding: 0 4px;
    cursor: pointer;
}
.new-password-copyright{
    margin-top: 20px;
    font-size: 8px;
}
.error-alert-container {
    font-size: 12px;
    width: 48%;
    padding: 0;
    margin-left: 12px;
}
.new-password-right-container{
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 5px 0 0 5px;
    padding-top: 4rem;
    padding-bottom: 6rem;
}
.new-password-right{
    width: 100%;
    padding-left: 5rem;
    margin-top: 5rem;
}
.new-password-right-title{
    font-size: 16px;
}
.new-password-right-description{
    font-size: 12px;
}
.form label {
    font-size: 12px;
    width: 50%;
}
.form div{
    width: 50%;
}
.form-control {
    margin: 1px 0 10px 0;
    font-size: 8pt !important;
    padding: 4.5px 8px !important;
    border: 1px solid #a7bfd4 !important;
    border-radius: 5px 0 0 5px;
    width: 50% !important;
}
#password-input, #cpassword-input {
    border-right-width: 0 !important;
}
.otp-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}
.otp-input {
    /* width: calc(100% / 7);
    height: 40px; */
    margin: 6.5px;
    text-align: center;
}
/* .form-email, .form-otp {
    padding-top: 3rem;
}
.form-password {
    padding-top: 3rem;
    background-color: #000000
} */
.btn-container {
    padding-top: 15px;
}
.resend-otp-container {
    padding-top: 5px;
}
.resend-otp-text {
    font-size: 8pt;
}
.a-resend-otp-text {
    text-decoration: none;
}
.submit-btn{
    /* ws minimum wi width e */
    width: 100%;
    background-color: var(--btn-color-2);
    border-radius: 5px 0 0 5px;
    border-width: 0;
    color: #fff;
    font-size: 10pt !important;
    padding: 4px 0 !important;
}
.submit-btn:hover{
    background-color: var(--btn-color-1);
}
.form-hidden {
    display: none !important;
}
.email-group {
    display: flex !important;
    align-items: flex-start !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
}
.input-group-text-email {
    background-color: #0000 !important;
    padding: 4px 4px !important;
    margin: 1px 0 0 0 !important;
    height: 27px !important;
    border: 1px solid #a7bfd4 !important;
    border-right-width: 0 !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px !important;
}

.input-group-text-email i {
    margin: 0 0 0 0 !important;
    font-size: 14px;
    color: var(--bg-color-1);
}
#email-input {
    border-left-width: 0 !important;
}

.password-eye, .cpassword-eye {
    background-color: #0000 !important;
    padding: 4px 4px !important;
    margin: 1px 0 0 0 !important;
    height: 27px !important;
    border: 1px solid #a7bfd4 !important;
    border-left-width: 0 !important;
    cursor: pointer;
}
.password-eye i, .cpassword-eye i {
    margin: 0 0 0 0 !important;
    font-size: 14px;
}
.password-group-container, .cpassword-group-container {
    display: flex !important;
    align-items: flex-start !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 992px) {
    .error-alert-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }
    .new-password-container {
        box-shadow: none;
    }
    .new-password-left-container {
        display: none;
    }
    .new-password-right-container{
        background-color: #FFFFFF;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .new-password-right{
        width: 100%;
        padding-left: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .new-password-main-title {
        /* background-color: #0002; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* padding-bottom: 0 !important; */
    }
    .new-password-right-title {
        /* background-color: #0001; */
        width: 50%;
        padding: 0 !important;
    }
    .new-password-right-description{
        /* background-color: #0001; */
        width: 50%;
        padding: 0 !important;
        margin: 0 !important;
    }
    .form-spinner-container {
        width: 100%;
    }
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form label {
        padding: 3px 0;
    }
    .form-btn{
        margin-bottom: 5px;
        /* align-self: flex-start;
        margin-left: 167px; */
    }
}

@media screen and (max-width: 768px) {
    .new-password-right-title {
        /* background-color: #0001; */
        width: 75%;
        padding: 0 !important;
    }
    .new-password-right-description {
        width: 75%;
    }
    .form label {
        width: 75%;
    }
    .form div{
        width: 75%;
    }
    .form-control {
        width: 75% !important;
    }
    .new-password-confirm {
        font-size: 12px;
        width: 75%;
    }
}

@media screen and (max-width: 576px) {
    /* .error-alert-container {
        background-color: #000000;
        width: 100% !important;
    } */
    
    .new-password-right-container,
    .new-password-container{
        margin: 6rem auto;
    }
    .error-alert-container div {
        width: 73% !important;
    }
    .new-password-container {
        box-shadow: none;
    }
    .new-password-right-container {
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
        padding-top: 0;
        /* padding-bottom: 10rem; */
        background-color: var(--bg-reg-mobile-2);
    }
    .new-password-right {
        margin-top: 0;
        margin-bottom: 0;
    }
    .new-password-main-title {
        background-color: var(--bg-reg-mobile-1);
        border-radius: 15px 15px 0 40px;
        padding: 2rem 0;
    }
    .new-password-right-title,
    .new-password-right-description,
    .form label,
    .email-group,
    .btn-container {
        width: 80% !important;
    }
    .new-password-right-title {
        color: var(--bg-reg-mobile-2);
        font-weight: 600;
        font-size: 22px;
    }
    .new-password-right-description {
        color: var(--bg-reg-mobile-2);
    }
    .form label {
        color: var(--bg-color-2);
    }
    .form-control {
        color: var(--bg-reg-mobile-1) !important;
        background-color: var(--bg-reg-mobile-2) !important;
        box-shadow: 0 0 1.6px 0.2px;
        /* padding: 4.5px 8px !important; */
        outline: none !important;
    }
    .form-control::placeholder {
        color: var(--bg-reg-mobile-1) !important;
        opacity: 0.3 !important;
    }
    .input-group-text {
        background-color: var(--bg-reg-mobile-2) !important;
        box-shadow: 0 0 1.6px 0.2px var(--bg-reg-mobile-1);
    }
    .input-group-text i {
        color: var(--bg-reg-mobile-1);
        box-shadow: -3px 0 0 2px var(--bg-reg-mobile-2);
        z-index: 2;
    }
    .input-group-text-email i {
        color: var(--bg-reg-mobile-1);
        box-shadow: 3px 0 0 2px var(--bg-reg-mobile-2);
        z-index: 2;
    }
    .otp-input-container {
        width: 80% !important;
        /* padding: 6px; */
    }
    .otp-input {
        margin: 3px;
        font-size: 16px;
        padding-left: 2px !important;
        padding-right: 2px !important;
        background-color: var(--bg-input-mobile-1) !important;
        border: none !important;
        box-shadow: none;
    }
    .submit-btn {
        background-color: var(--bg-reg-mobile-1) !important;
        color: var(--bg-reg-mobile-2) !important;
        font-weight: 600 !important;
    }
    .submit-btn:hover{
        color: var(--bg-reg-mobile-2) !important;
        background-color: var(--btn-color-3) !important;
    }
    .resend-otp-text {
        color: var(--bg-color-1);
        font-weight: 350;
    }
    .resend-otp-text a {
        color: var(--bg-reg-mobile-1);
        font-weight: 450;
    }
}

@media screen and (max-width: 360px) {
    .new-password-right-container,
    .new-password-container {
        margin: 6.8rem auto;
    }
    .form-spinner {
        color: var(--bg-reg-mobile-1) !important;
    }
}