/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* background colors */
    --bg-color-1: #a4bad6;
    --bg-color-2: #e8eef5;
    --bg-color-3: #dde8f7;

    /* font colors */
    --color-1: #143a6a;
    --color-2: #0e2a4c;
    --color-3: #7798c1; /*hover navbar*/ /*#a4bad6*/
    --color-4: #e8eef5;

    /* Button colors */
    --btn-color-1: #3677b0;
    --btn-color-2: #3c84c4;
    
    /* Button hover */
    --link-color-1: #19a6f3;
    --link-color-2: #0767a2;

    /* Fonts Bold */
    --bold-1: 300;
    --bold-2: 400;
    --bold-3: 500;
    --bold-4: 900; 
}

/* Main section */
.alert-container {
    max-width: 400px !important;
}
.form-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: #0001; */
}
.form-1, .form-2, .form-3 {
    max-width: 400px !important;
    /* background-color: #0767a2; */
}
.form-hidden {
    display: none;
}
.email-label {
    font-size: 11pt;
}
#email-input {
    max-width: 400px;
}
.verify-icon-container, .verify-title-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* End main section */