/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* VARIABLE CSS */
:root{
    /* background colors */
    --bg-color-1: #a4bad6;
    --bg-color-2: #e8eef5;
    --bg-color-3: #dde8f7;

    /* font colors */
    --color-1: #143a6a;
    --color-2: #0e2a4c;
    --color-3: #7798c1; /*hover navbar*/ /*#a4bad6*/
    --color-4: #e8eef5;

    /* Button colors */
    --btn-color-1: #3677b0;
    --btn-color-2: #3c84c4;
    
    /* Button hover */
    --link-color-1: #19a6f3;
    --link-color-2: #0767a2;

    /* Fonts Bold */
    --bold-1: 300;
    --bold-2: 400;
    --bold-3: 500;
    --bold-4: 900; 
}

body::-webkit-scrollbar{
    display: none;
}

/* Navbar Section */
header{
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color-1);
}
nav{
    /* height: 8vh; */
    /* box-shadow: 0.2px 2px rgba(0, 0, 0, 0.1); */
    position: fixed;
    width: 100%;
    z-index: 100;
    color: #030310;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 10px;
    transition: 0.2s;
}
.nav-logo {
    width: 50px;
    height: auto;
    margin: -50px 20px;
}
/* .logo-container {
    background-color: aquamarine;
} */
.navbar {
    /* background-color: bisque; */
    display: flex;
    list-style-type: none;
    margin: 5px 20px;
}
.navbar > li {
    padding: 0 4px;
}
.navbar > li > a {
    text-decoration: none;
    color: var(--color-2);
}
.nav-p {
    text-align: center;
    padding-top: 12px;
}
.sign-btn-container {
    justify-self: flex-end;
    /* margin-left: 35rem; */
}
.btn-primary,
.btn-primary:visited {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-primary:hover,
.btn-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-2) !important;
    border-color: var(--btn-color-2) !important;
}
.btn-outline-primary,
.btn-outline-primary:visited {
    color: var(--color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
}
/* End Navbar Section */
/* First Section */
.main-page{
    background-color: var(--bg-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 5px;
    height: 100%;
    color: var(--color-2);
}
.container-child {
    margin: 0 80px
}
.container-1 {
    /* border: 2px solid #000; */
    width: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-1 h1 {
    padding: 0 0 12px 0;
    align-self: flex-start;
    font-size: 35pt;
    font-weight: var(--bold-4);
}
/* .container-2 {
    border: 2px solid #000;
} */
.image-section-1 {
    /* border: 1px solid #000; */
    width: 300px;
    height: auto;
}
/* End First Section */

/* Second Section */
.wave-one{
    background-color:var(--bg-color-1) ;
    margin-top: -10rem;
    width: 100%;
}
.teacher-container{
    height: 60vh;
    /* background-color: #1c5398; */
    background-color: var(--bg-color-2);
    width: 100%;
    position: relative;
}
.all-person-section{
    /* background-color: var(--bg-color-2); */
    width: 80%;
    padding-top: 2rem;
    margin: 0 auto;
    border-radius: 23px;
    background: #e8eef5;
    box-shadow:  1px 1px 18px #797c7f;
}
.person-title{
    text-align: center;
    color: var(--color-2);
    font-weight: var(--bold-3);
}
.person-container{
    display: flex;
}
.img-person{
    /* border: 2px solid var(--color-2); */
    border-radius: 100px;
    height: 180px;
    margin: 0 0 2rem 3rem;
    border: 5px dashed rgba(255,255,255,0.5);
    background-color: var(--bg-color-1);
    box-shadow: 0px 0px 10px var(--color-2);
}
.person-desk{
    margin: 2rem;
    color: var(--color-2);
    font-weight: var(--bold-1);
    font-size: 13px;
}
/* .person-container > figure {
    background-color: #0002;
} */
.nick-person-container {
    /* background-color: #0001; */
    text-align: center;
    margin: -20px -25px 10px 15px;
    font-weight: var(--bold-3);
    text-decoration: underline;
}
/* End Second Section */

/* Third Section */
.daily-container{
    height: 40vh;
    background-color: var(--bg-color-2);
}
.daily-content{
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 1rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    justify-content: center;
} 
.daily-title{
    text-align: center;
}
.daily-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 50px;
    margin-top: 2rem;
    /* width: 500%; */
    background: var(--bg-color-1);
    border-radius: 0.4rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 200px;
}
.daily-box:hover{
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.daily-box .bi{
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 5px;
    /* border-radius: 100%; */
    /* border: 2px dashed var(--bg-color-2); */
}
.daily-box h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: var(--main-color);
}
/* End Third Section */

/* Four Section */
.identification-container{
    /* display: flex; */
    width: auto;
    background-color: var(--bg-color-2);
    height: 90vh;
}
.identification-title-container{
    text-align: center;
    margin: 0 auto;
}
.identification-title{
    font-size: 34px;
}
.identification{
    display: flex;
    width: 80%;
    margin: 2rem auto;
    justify-content: center;
    background-color: rgb(242, 242, 248);
    /* border-radius: 70px; */
}
.identification-image{
    width: 290px;
    border-radius: 10px 0 0 10px;
}
.identification-exam-section{
    box-shadow: 3.5px 0px 8px #03031035;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* box-shadow: 4px 4px 10px -4px, inset -2px 0px 0px #fff; */
}
.identification-exam{
    padding: 1rem 2rem;
    text-indent: 8rem;
}
/* End Four Section */

/* Five section */
.wave-two{
    background-color:var(--bg-color-2) ;
    /* margin-top: -10rem; */
    width: 100%;
}
.image-section1{
    background-color: transparent;
    position: absolute;
    left: 85%;
    transform: translate(-50%, 0);
    top: 290%;
    width: 30%;
}
.creation-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.creation-title {
    padding: 0 0 0 2rem;
}
.creation-link {
    position: relative;
    right: 0;
    /* background-color: #0002; */
    width: 65%;
    text-align: right;
    margin: 0 0 0 4rem;
}
.creation-link > a {
    color: var(--color-2);
}
.creation-link > a:hover{
    color: var(--link-color-1);
}
.creation-container {
    width: 100%;
    padding: 20px 25px;
    background-color: var(--bg-color-3);
}
.creation-content{
    display: flex;
    justify-content: center;
    gap: 4rem;
    /* margin: 4rem auto; */
    margin-top: 4rem;
}
.creation{
    display: flex;
    flex-direction: column;
    display: inline-block;
    max-width: 250px;
    padding: 15px 10px;
}
.creation:hover{
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 5px 5px 15px#0303103e;
    border-radius: 10px;
}
.creation-number {
    overflow-y: hidden;
}
.sub-number {
    position: absolute;
    transform: translate(20%, 25%);
    z-index: 2;
    color: var(--color-4);
}
.sub-number-first-child {
    position: absolute;
    transform: translate(40%, 25%);
    z-index: 2;
    color: var(--color-4);
}
.creation-sub-title {
    margin: 40px 0 0 0;
}
.img-pattern1 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-10%, -10%) rotate(180deg);
}
.img-pattern2 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-15%, -10%) rotate(180deg);
}
.img-pattern3 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-12%, -5%) rotate(180deg);
}
/* .sub-number{
    
} */
/* End five section */

/* Six section */
.logos-container {
    /* gap: 2rem; */
    /* border-top: 1px solid var(--color-2); */
    padding: 6rem 0;
    background-color: var(--bg-color-3);
}
.logos-sub-title{
    text-align: center;
    font-size: 15px;
    margin-bottom: 1.5rem;
}
.logos-content{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.logos-img {
    width: 50px;
    margin: 0 1rem;
    /* mix-blend-mode: luminosity; */
    opacity: .5;
    transition: .4s;
  }
  
.logos-img:hover {
    opacity: 2;
  }
  
/* End six section */

/* Footer Section */
footer {
    /* height: 100vh; */
    background-color: var(--bg-color-1);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
    /* box-shadow: 0px -0.2px 5px var(--color-2); */
}
.logo-footer {
    width: 50px;
    height: auto;
    margin: 2px 0 0 0;
}
.title-footer {
    display: flex;
    margin-top: 13px;
    align-items: center;
}
footer .footer-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-subcontainer:first-child > div {
    display: flex;
    padding: 0 0 10px 0;
}
.footer-subcontainer:first-child > div > div {
    width: 50%;
}
.footer-subcontainer > span {
    padding: 5px 10px;
}
.footer-subcontainer > span > a {
    text-decoration: none;
    color: #202020;
    transition: 0.2s;
    font-size: 11pt;
}
.footer-subcontainer > span > a:hover {
    color: var(--bg-color-2);
}
.footer-subcontainer:last-child {
    padding: 15px 0;
}
.footer-subcontainer:last-child > span {
    font-size: 9pt;
}
.socmed-icon {
    margin: 10px 0 0 0;
}
.socmed-logo {
    font-size: 18pt;
    color: #202020;
    margin: 0 5px;
    transition: 0.2s;
}
.socmed-logo:hover{
    color: var(--bg-color-2);
}
/* End Footer Section */