/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(232,238,245);
    background: linear-gradient(215deg, rgba(232,238,245,1) 50%, rgba(164,186,214,1) 50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* height: 93.95vh; */
}

:root{
    /* background colors */
    --bg-color-1: #a4bad6;
    --bg-color-2: #e8eef5;
    --bg-color-3: #dde8f7;
    --bg-reg-mobile-1: #f8fbff;
    --bg-reg-mobile-2: #57708f;

    /* font colors */
    --color-1: #143a6a;
    --color-2: #011D31;
    --color-3: #7798c1; /*hover navbar*/ /*#a4bad6*/
    --color-4: #e8eef5;

    /* Button colors */
    --btn-color-1: #3677b0;
    --btn-color-2: #3c84c4;
    --btn-color-3: #f8f5f5;
    
    /* Button hover */
    --link-color-1: #19a6f3;
    --link-color-2: #0767a2;

    /* Fonts Bold */
    --bold-1: 300;
    --bold-2: 400;
    --bold-3: 600;
    --bold-4: 900; 
}

.tlogin-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 85% !important;
    width: 450px !important;
    height: 80vh;
    background-color: var(--bg-reg-mobile-2);
    border-radius: 15px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 0 !important;
}
.tlogin-top {
    background-color: var(--bg-reg-mobile-1);
    width: 100%;
    border-radius: 15px 15px 0 35px;
    /* padding: 0 1.5rem; */
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tlogin-bottom {
    width: 100%;
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
}
.tlogin-title {
    color: var(--bg-reg-mobile-2);
    font-weight: 525;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100% !important; */
}
.error-container {
    width: 250px;
}
.error-container > div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.error-container > div > ul {
    padding: 0 !important;
}
.btn-close {
    padding: 0 !important;
    font-size: 10pt !important;
    height: 100% !important;
    padding: 0 10px 0 10px !important;
}
.password-label {
    color: var(--bg-color-2);
    width: 100%;
    font-size: 9pt;
    padding-bottom: 5px;
}
.password-group-container {
    display: flex !important;
    align-items: flex-start !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.password-input {
    border: none !important;
    outline: none !important;
    padding: 0 1rem;
    /* width: calc(100% - 70px); */
    height: 100% !important;
    font-size: 10.5pt;
    border-radius: 5px 0 0 5px !important;
    /* box-shadow: 0 0 5px 1px #0002; */
    border: 1px solid #a7bfd4 !important;
    background-color: var(--bg-reg-mobile-2);
    color: var(--bg-reg-mobile-1);
}
.password-input::placeholder {
    color: var(--bg-reg-mobile-1);
    opacity: 0.3 !important;
}
.password-eye {
    border: none !important;
    background-color: var(--bg-reg-mobile-2) !important;
    /* box-shadow: 3px 0 5px 1px #0002; */
    border: 1px solid #a7bfd4 !important;
    border-left-width: 0 !important;
    cursor: pointer;
}
.password-eye i {
    margin: 0 0 0 0 !important;
    font-size: 14px;
    color: var(--bg-reg-mobile-1);
}
.form-btn {
    width: 100% !important;
    font-size: 11pt !important;
    padding: 5px 0 !important;
    margin-top: 15px;
    background-color: var(--bg-reg-mobile-1) !important;
    color: var(--bg-reg-mobile-2) !important;
    border: none !important;
    font-weight: 550 !important;
}