/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    color: var(--color-2);
}

/* VARIABLE CSS */
:root{
    /* background colors */
    --bg-color-1: #a4bad6;
    --bg-color-2: #e8eef5;
    --bg-color-3: #dde8f7;
    --bg-color-4: #e5e6e7;
    --bg-dropdown: #F4FAFF; /*#f2f2f8*/

    /* font colors */
    --color-1: #143a6a;
    --color-2: #011D31;
    --color-3: #7798c1; /*hover navbar*/ /*#a4bad6*/
    --color-4: #e8eef5;

    --color-gradient-black-1: rgba(0, 0, 0, 0.8);
    --color-gradient-black-2: rgba(0, 0, 0, 0.6);
    --color-gradient-black-3: rgba(0, 0, 0, 0.4);
    --color-gradient-black-4: rgba(0, 0, 0, 0.2);

    --color-gradient-white-1: rgba(255, 255, 255, 0.9);
    --color-gradient-white-2: rgba(255, 255, 255, 0.8);

    /* Button colors */
    --btn-color-1: #3677b0;
    --btn-color-2: #3c84c4;
    --btn-color-3:  #46406c;
    
    /* Button hover */
    --link-color-1: #19a6f3;
    --link-color-2: #0767a2;

    /* Fonts Bold */
    --bold-1: 300;
    --bold-2: 400;
    --bold-3: 600;
    --bold-4: 900; 
}

body::-webkit-scrollbar{
    display: none;
}

/* Navbar Section */
header{
    width: 100%;
    background-color: var(--bg-color-1);
}

.btn-primary,
.btn-primary:visited {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-primary:hover,
.btn-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-2) !important;
    border-color: var(--btn-color-2) !important;
}
.btn-outline-primary,
.btn-outline-primary:visited {
    color: var(--color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
}
/* End Navbar Section */

/* Main Section */
.main-section{
    padding: 8rem 0;
    background-color: var(--bg-color-2);
}
.search,
.city-name,
.weather-temperature,
.weather-time-day,
.weather-time-hour,
.weather-condition-text,
.title-weather-right,
.highlight-title,
.unknown-number,
.humidity-number,
.visibility-number,
.visibility-unit,
.elevation-number,
.elevation-unit,
.pressure-indicator,
.pressure-number,
.wind-number,
.wind-unit{
    font-family: 'Nunito', sans-serif;
}
.weather-section-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    border-radius: 35px;
    max-width: 90%;
}
.weather-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.weather-left-container{
    background-color: var(--color-gradient-white-1);
    padding: 40px 32px;
    border-radius: 35px 0 0 35px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); */
}
.search-container{
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}
.search-icon-container{
    padding: 4px;
}
.search{
    outline: none;
    border: none;
    background-color: var(--color-gradient-white-1);
    padding: 4px 6px;
    width: 300px;
    max-width: 100%;
    font-size: 14px;
}
.icon-search{
    font-size: 14px;
    cursor: pointer;
}
.bi-x-circle-fill{
    color: var(--color-gradient-black-2);
    background-color: #0002;
    border-radius: 100%;
    padding-top: 1.5px;
    padding-bottom: 2px;
    padding-left: 3.5px;
    padding-right: 4px;
    cursor: pointer;
}
.city-name-container {
    padding-bottom: 1rem;
}
.city-name {
    text-align: center;
    /* font-weight: var(--bold-2); */
}
.weather-today-icon{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 160px;
}
.weather-temperature-container{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: var(--bold-3);
}
.weather-time-day{
    color: rgba(0, 0, 0, 0.8);
    font-weight: var(--bold-3);
}
.weather-time-hour{
    color: var(--color-gradient-black-3);
    font-weight: var(--bold-3);
}
.weather-condition-container{
    margin-top: 24px;
}
.weather-condition{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 14px 0;
}
.weather-condition-icon{
    width: 24px;
}
.weather-condition-text{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}


.weather-right-container{
    background-color: var(--bg-color-3);
    padding: 40px 52px;
    border-radius: 0 35px 35px 0;
}
.top-weather-right{
    display: none;
}
.option-times-container{
    display: flex;
    gap: 26px;
}
.times-container{
    font-size: 18px;
    font-weight: var(--bold-3);
    margin: 0;
}
.week-weather-container{
    /* display: flex; */
    display: none;
    text-align: center;
    gap: 14px;
    margin: 44px 0;
}
.day-weather-container{
    display: block;
    background-color: var(--color-gradient-white-2);
    padding: 10px 22px;
    border-radius: 10px;
    border: solid 0.2px var(--color-gradient-black-4);
}
.day-weather-teks{
    font-size: 16px;
    font-weight: var(--bold-3);
    /* color: var(--color-gradient-black-1); */
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}
.weather-day-icon{
    width: 30px;
    margin: 14px 0;
}
.day-weather-info{
    font-size: 12px;
    /* color: var(--color-gradient-black-1); */
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}
.day-weather-info-min{
    font-size: 12px;
    color: var(--color-gradient-black-3);
}
.bi-geo-alt-fill{
    transform: rotate(20deg);
    /* background-color: #0002; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3.5px;
    padding-bottom: 3px;
    border-radius: 100%;
    margin-right: 8px;
    font-size: 10px;
    border: solid 1px #0008;
}
.wind-direction-text-container{
    margin-top: 3px;
}
.title-weather-right{
    font-weight: var(--bold-3);
    font-size: 22px;
}
.highlight-weather-right-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    margin: 20px 0;
}
.highlight{
    background-color: var(--color-gradient-white-2);
    border-radius: 15px;
    padding: 18px;
    border: solid 0.2px var(--color-gradient-black-4);
}
.highlight-title{
    color: var(--color-gradient-black-2);
    font-weight: 700;
}
.highlight-content{
    display: flex;
    margin-top: 12px;
    /* background-color: #0001; */
    min-height: 150px;
}
.highlight-content-1 {
    justify-content: center;
}
.highlight-content-2 {
    align-items: center;
}
.highlight-content-3 {
    flex-direction: column;
    justify-content: center;
    height: 160px;
}
.highlight-content-4 {
    justify-content: center;
}
.highlight-content-5 {
    align-items: center;
}
.highlight-content-6 {
    justify-content: center;
}
.pressure-content-1 {
    display: flex;
    align-items: center;
    width: 80px;
}
.pressure-content-2 {
    padding: 0 10px;
}
.pressure-content-3 {
    /* background-color: #0002; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50px;
}
.pressure-indicator-bar,
.humidity-indicator-bar,
.elevation-indicator-bar {
    background-color: var(--bg-color-4);
    width: 10px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.humidity-indicator-bar,
.elevation-indicator-bar {
    height: 120px;
    width: 22px;
    border-radius: 15px;
}
.pressure-indicator,
.humidity-indicator,
.elevation-indicator {
    width: 10px;
    height: calc((0 / 100) * 140px + 12px);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.humidity-indicator,
.elevation-indicator {
    width: 22px;
    /* height: 22px; */
    /* height: calc((100 / 100) * 98px + 22px); */
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4px;
}
.humidity-indicator {
    height: calc((0 / 100) * 98px + 22px);
}
.elevation-indicator {
    height: calc((0 / 100) * 98px + 22px);
}
.pressure-indicator-bullet,
.humidity-indicator-bullet,
.elevation-indicator-bullet {
    width: 10px;
    height: 12px;
    background-color: var(--bg-color-1);
    border-radius: 5px;
}
.humidity-indicator-bullet,
.elevation-indicator-bullet {
    width: 17px;
    height: 17px;
    border-radius: 15px;
}
.pressure-number-indicator {
    display: flex;
    align-items: center;
    color: var(--color-3);
}
/* .unknown-number {
    font-size: 18pt;
} */
.pressure-number,
.pressure-number-indicator {
    text-align: center;
}
.pressure-number,
.wind-number,
.humidity-number,
.visibility-number,
.elevation-number {
    font-size: 28pt;
}
.wind-unit,
.visibility-unit,
.elevation-unit {
    font-size: 16pt;
}
.pressure-number-container {
    width: 100%;
    text-align: center;
}
.pressure-number-indicator {
    font-size: 8pt;
}
.wind-number-container,
.visibility-number-container {
    width: 100%;
    padding-left: 1rem;
}
.sun-content{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px 0;
}
.sun-content-1 {
    margin-bottom: 8px;
}
.sun-content-2 {
    margin-top: 8px;
}
.humidity-content-1 {
    display: flex;
    align-items: center;
    width: 150px;
}
.humidity-content-2 {
    display: flex;
    align-items: center;
}
.elevation-content-1 {
    display: flex;
    align-items: center;
    width: 150px;
}
.elevation-content-2 {
    display: flex;
    align-items: center;
}
.title-sun-time{
    font-weight: var(--color-gradient-black-2);
    font-weight: 550;
}
.subtitle-sun-time{
    font-weight: var(--color-gradient-black-2);
    font-weight: 500;
    font-size: 12px;
    display: none;
}
.icon-arrow{
    background-color: var(--bg-color-1);
    font-size: 24px;
    border-radius: 100%;
    padding-left: 4px;
    padding-right: 4px;
}
.highlight-footer{
    font-weight: var(--bold-3);
    /* color: var(--color-gradient-black-1); */
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
}
/* End Main Section */

@media screen and (max-width: 992px) {
    header{
        width: 100%;
    }
    .weather-section-container {
        flex-direction: column;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    }
    .weather-left-container {
        border-radius: 35px 35px 0 0;
    }
    .weather-right-container {
        border-radius: 0 0 35px 35px;
    }
    .search-container {
        justify-content: center;
    }
    .weather-temperature-container,
    .weather-time-container,
    .weather-condition-container {
        padding-left: 1.5rem;
    }
}
@media screen and (max-width: 768px) {
    .highlight-weather-right-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 576px) {
    .highlight-weather-right-container {
        grid-template-columns: 1fr;
    }
    .search-subcontainer {
        max-width: 80%;
    }
    .weather-today-icon {
        width: 120px;
    }
    .highlight-content-6 {
        justify-content: flex-start;
        align-items: center;
    }
    .elevation-number-container {
        padding-left: 1rem;
    }
}
@media screen and (max-width: 360px) {
    .main-section{
        padding: 11rem 0;
    }
    .weather-section-container {
        border-radius: 25px;
    }
    .weather-temperature-container{
        margin-top: 4rem;
    }
    .weather-temperature-container,
    .weather-time-container,
    .weather-condition-container {
        padding-left: 0;
    }
    .weather-right-container {
        padding: 40px 2rem 15px 2rem;
    }
    .title-weather-right-container{
        padding-left: 0;
    }
    .bi-geo-alt-fill{
        transform: rotate(20deg);
        padding-left: 4px;
        padding-right: 5.5px;
        padding-top: 2px;
        padding-bottom: 4px;
    }
    .icon-arrow{
        font-size: 24px;
        padding-left: 4px;
        padding-right: 3.5px;
    }
    .bi-x-circle-fill{
        padding-top: 1px;
        padding-bottom: 2px;
        padding-left: 3.5px;
        padding-right: 3.5px;
    }
}