/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* VARIABLE CSS */
:root{
    /* background colors */
    --bg-color-1: #a4bad6;
    --bg-color-2: #e8eef5;
    --bg-color-3: #dde8f7;
    --bg-dropdown: #F4FAFF; /*#f2f2f8*/

    /* font colors */
    --color-1: #143a6a;
    --color-2: #011D31;
    --color-3: #7798c1; /*hover navbar*/ /*#a4bad6*/
    --color-4: #e8eef5;

    /* Button colors */
    --btn-color-1: #3677b0;
    --btn-color-2: #3c84c4;
    
    /* Button hover */
    --link-color-1: #19a6f3;
    --link-color-2: #0767a2;

    /* Fonts Bold */
    --bold-1: 300;
    --bold-2: 400;
    --bold-3: 600;
    --bold-4: 900; 
}

nav{
    /* height: 8vh; */
    /* box-shadow: 0.2px 2px rgba(0, 0, 0, 0.1); */
    position: fixed;
    width: 100%;
    z-index: 100;
    color: #030310;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 10px;
    transition: 0.2s;
    background-color: var(--bg-color-1);
    /* box-shadow: 0 1px 2px 0.1px #00000020; */
    font-family: 'Poppins', sans-serif;
}
.nav-logo {
    width: 50px;
    height: auto;
    margin: -50px 20px;
}
.main-title-container {
    /* background-color: #011D31; */
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    font-family: 'Poppins', sans-serif;
}
.main-title {
    font-size: 20pt;
    /* background-color: #678ba5; */
    margin: 0 !important;
    font-family: 'Poppins', sans-serif;
}
/* .logo-container {
    background-color: aquamarine;
} */
.navbar {
    /* background-color: bisque; */
    display: flex;
    list-style-type: none;
    margin: 5px 20px 5px 0;
    font-family: 'Poppins', sans-serif;
}
.navbar .dropdown-menu {
    padding: 0;
    background-color: var(--bg-dropdown);
    font-family: 'Poppins', sans-serif;
}
.navbar .dropdown-menu li a {
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
}
.navbar .dropdown-menu li a:hover {
    background-color: #011d310a; 
    font-family: 'Poppins', sans-serif;
}
.navbar > li {
    padding: 0 4px;
    font-family: 'Poppins', sans-serif;
}
.navbar > li a {
    text-decoration: none;
    color: var(--color-2);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.navbar > li a:hover {
    color: var(--link-color-2);
    font-family: 'Poppins', sans-serif;
}
.nav-p {
    text-align: center;
    padding-top: 12px;
    font-family: 'Poppins', sans-serif;
}
.nav-username-container {
    display: flex;
    justify-content: flex-end;
    /* background-color: #0001; */
    align-items: center;
    width: calc(100% - 690px);
    font-family: 'Poppins', sans-serif;
}
.nav-username-icon-container {
    padding: 0 0.5rem;
    font-family: 'Poppins', sans-serif;
}
.nav-username-text {
    font-size: 10pt;
    font-family: 'Poppins', sans-serif;
}
.nav-username-container-hidden {
    /* visibility: hidden; */
    display: none !important;
    font-family: 'Poppins', sans-serif;
}
.sign-btn-container {
    justify-self: end;
    margin-left: calc(100% - 715px);
    font-family: 'Poppins', sans-serif;
    /* margin-left: 30px; */
}
.sign-btn-container--logout {
    /* margin-left: calc(100% - 665px); */
    margin-left: 25px;
    font-family: 'Poppins', sans-serif;
}
.sign-btn-container a i {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.menu-icon-container {
    width: calc(100% - 355px);
    /* background-color: #0001; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    display: none;
    font-family: 'Poppins', sans-serif;
}
.menu-icon {
    /* display: none; */
    display: flex;
    justify-content: center;
    /* background-color: #0002; */
    flex-direction: column;
    height: 40px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.menu-icon > div {
    width: 22px;
    height: calc(100% / 18);
    background-color: var(--color-2);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.menu-icon > div {
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
}
.menu-icon > div:nth-child(1) {
    transform: translate(0, -150%);
    font-family: 'Poppins', sans-serif;
}
.menu-icon > div:nth-child(3) {
    transform: translate(0, 150%);
    font-family: 'Poppins', sans-serif;
}
.dropdown-menu .bi{
    margin-right: 12px;
    font-family: 'Poppins', sans-serif;
}
.sidebar {
    position: fixed;
    top: 58px;
    z-index: 99;
    background-color: var(--bg-dropdown);
    padding: 15px 0 !important;
    transform: translate(0, -100%);
    transition: 0.4s;
    display: none;
    font-family: 'Poppins', sans-serif;
}
.sidebar-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: #011D31; */
}
.sidebar-ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 !important;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.sidebar-link-list div {
    padding: 2px 0 !important;
    font-family: 'Poppins', sans-serif;
}
.sidebar-ul li a {
    color: var(--color-2);
    text-decoration: none;
    /* background-color: #0001; */
    /* width: 100%; */
    font-family: 'Poppins', sans-serif;
}
.sidebar-ul li .a-collapse {
    font-size: 10pt;
    font-family: 'Poppins', sans-serif;
}
.sidebar-ul li .card {
    background-color: #fff !important;
    width: 100% !important;
    margin: 0 !important;
    font-family: 'Poppins', sans-serif;
}
.sidebar-ul li .card .bi{
    margin-right: 2px;
    font-family: 'Poppins', sans-serif;
}
.sign-button-list {
    padding: 5px 0;
    flex-direction: row !important;
    /* background-color: #011D31; */
    font-family: 'Poppins', sans-serif;
}
.sign-button-list, .sign-button-list a {
    display: none !important;
    font-family: 'Poppins', sans-serif;
}
.sidebar-username-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.sidebar-username-icon-container {
    padding: 0 0.5rem;
    font-family: 'Poppins', sans-serif;
}
.sidebar-username-text {
    font-size: 10pt;
    font-family: 'Poppins', sans-serif;
}
.sidebar-list-hidden {
    display: none !important;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 992px) {
    .main-title-container {
        display: flex;
    }
    .menu-icon-container {
        display: flex;
        /* width: calc(100% - 935px); */
        width: 50px;
        /* background-color: #0002; */
    }
    .navbar-list {
        display: none;
    }
    .nav-username-container {
        /* background-color: #0001; */
        /* width: calc(100% - 390px) !important; */
        display: none !important;
    }
    .sign-btn-container {
        display: flex;
        margin-left: 0;
        justify-content: flex-end;
        width: calc(100% - 295px);
        /* width: calc(100% - 293px); */
        /* width: 65px; */
        /* background-color: #0001; */
    }
    .sign-btn-container .sign-btn {
        margin: 0 1.5px;
    }
    .sidebar {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .sidebar-username-container{
        display: flex;
        justify-content: center;
    }
    .sign-btn-container {
        display: none;
        /* margin-left: 35rem; */
    }
    .menu-icon-container {
        width: calc(100% - 245px);
    }
    .sign-button-list, .sign-button-list a {
        display: flex !important;
    }
    .sign-button-list a {
        margin: 0 2px;
    }
}