/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    color: var(--color-2);
}

/* VARIABLE CSS */
:root{
    /* background colors */
    --bg-color-1: #a4bad6;
    --bg-color-2: #e8eef5;
    --bg-color-3: #dde8f7;
    --bg-dropdown: #F4FAFF; /*#f2f2f8*/

    /* font colors */
    --color-1: #143a6a;
    --color-2: #011D31;
    --color-3: #7798c1; /*hover navbar*/ /*#a4bad6*/
    --color-4: #e8eef5;

    --color-gradient-black-1: rgba(0, 0, 0, 0.8);
    --color-gradient-black-2: rgba(0, 0, 0, 0.7);
    --color-gradient-black-3: rgba(0, 0, 0, 0.4);
    --color-gradient-black-4: rgba(0, 0, 0, 0.2);

    --color-gradient-white-1: rgba(255, 255, 255, 0.9);
    --color-gradient-white-2: rgba(255, 255, 255, 0.8);

    /* Button colors */
    --btn-color-1: #3677b0;
    --btn-color-2: #3c84c4;
    
    /* Button hover */
    --link-color-1: #19a6f3;
    --link-color-2: #0767a2;

    /* Fonts Bold */
    --bold-1: 300;
    --bold-2: 400;
    --bold-3: 600;
    --bold-4: 900; 
}

body::-webkit-scrollbar{
    display: none;
}

/* Navbar Section */
header{
    width: 100%;
    background-color: var(--bg-color-1);
}

/* Main section */
.main-section {
    padding: 8rem 0;
    background-color: var(--bg-color-2);
}
/* End main section */

.btn-primary,
.btn-primary:visited {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-primary:hover,
.btn-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-2) !important;
    border-color: var(--btn-color-2) !important;
}
.btn-outline-primary,
.btn-outline-primary:visited {
    color: var(--color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
}
/* End Navbar Section */

@media screen and (max-width: 992px) {
    header{
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 360px) {
}