@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    color: var(--color-2);
}

/* VARIABLE CSS */
:root{
    /* background colors */
    --bg-color-1: #a4bad6;
    --bg-color-2: #e8eef5;
    --bg-color-3: #dde8f7;
    --bg-dropdown: #F4FAFF; /*#f2f2f8*/
    
    /* Border colors */
    --border-color-1: #d2d9e1;
    --border-color-2: #6897c1;

    /* font colors */
    --color-1: #143a6a;
    --color-2: #011D31;
    --color-3: #7798c1; /*hover navbar*/ /*#a4bad6*/
    --color-4: #e8eef5;

    /* Button colors */
    --btn-color-1: #3677b0;
    --btn-color-2: #3c84c4;

    /* Icons colors */
    --icon-color-1: #202020;
    
    /* Button hover */
    --link-color-1: #19a6f3;
    --link-color-2: #0767a2;

    /* Fonts Bold */
    --bold-1: 300;
    --bold-2: 400;
    --bold-3: 600;
    --bold-4: 900; 
}

body::-webkit-scrollbar{
    display: none;
}

/* Navbar Section */
header{
    width: 100%;
    background-color: var(--bg-color-1);
}

.btn-primary,
.btn-primary:visited {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-primary:hover,
.btn-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-2) !important;
    border-color: var(--btn-color-2) !important;
}
.btn-outline-primary,
.btn-outline-primary:visited {
    color: var(--color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
}
/* End Navbar Section */

/* Main section */
.main-section {
    padding: 8rem 0;
    background-color: var(--bg-color-2);
}
.profile-title-container {
    /* background-color: #0001; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
}
.profile-icon-container {
    background-color: var(--bg-color-3);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 1px #0003;
}
.profile-icon {
    font-size: 28pt;
}
.profile-text-container {
    padding-top: 1.2rem;
    /* background-color: #0002; */
}
.profile-title,
.profile-subtitle {
    text-align: center;
}
.profile-title {
    font-size: 26pt;
    font-weight: 600;
    margin: 0 !important;
}
.profile-subtitle {
    font-size: 11pt;
    font-weight: 550;
}
.search-container {
    /* background-color: #0001; */
    padding-top: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-group {
    border-radius: 300px;
    border: 1px solid #0000002c !important;
    /* box-shadow: 0 0 4px 0.1px var(--color-2); */
}
.search-group:hover{
    border: none !important;
    box-shadow: 0 0 6px 1px #00000034 !important;
}
.search-group {
    width: 60%;
    max-width: 750px;
}
.search-group span {
    background-color: var(--bg-color-3) !important;
    border: none !important;
    border-radius: 50% 0 0 50% !important;
}
.search-group span i,
.search-input {
    font-size: 12pt !important;
    padding: 8px 10px;
}
.search-input {
    border: none !important;
    background-color: var(--bg-color-3) !important;
    border-radius: 0 300px 300px 0 !important;
}
.search-sort-container {
    background-color: var(--bg-color-3);
    padding: 4px 12px;
    margin: 0 0 1rem 1rem;
    /* width: 54px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #0000002c !important;
    /* box-shadow: 0 0 4px 0.1px var(--color-2); */
}
.search-sort-container:hover{
    border: none !important;
    box-shadow: 0 0 6px 1px #00000034 !important;
}
.search-sort {
    font-size: 24pt;
}
.student-container {
    background-color: var(--bg-color-2);
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
.student-grid-container {
    /* background-color: #0002; */
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.student {
    /* background-color: #0003; */
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px 16px;
}
.student-photo{
    width: 120px;
    border-radius: 100%;
    box-shadow: 0 4px 8px #03031070;
}
.student-subcontainer-all{
    background-color: var(--bg-color-2);
    box-shadow: 0 0 8px #03031056;
    border-radius: 15px;
    padding-top: 80px;
    margin-top: -68px;
}
.student-name{
    font-size: 16px;
    margin: 0 !important;
    font-weight: var(--bold-3);
}
.student-nis{
    font-size: 14px;
    font-weight: var(--bold-3);
    color: rgba(0, 0, 0, 0.4);
}
.student-subcontainer-2{
    margin: 8px 0;
}
.student-religion{
    font-size: 10px;
    font-weight: 500;
}
.student-age{
    font-size: 10px;
    font-weight: 500;
}
.student-hobby{
    font-size: 10px;
    font-weight: 500;
}
.student-subcontainer-3{
    margin-bottom: 20px;
}
.student-quote{
    font-size: 10px;
    padding: 12px;
    font-weight: 500;
}
.student-subcontainer-4{
    margin-bottom: 14px;
}
.student-subcontainer-5{
    padding-bottom: 12px;
}
.student-socmed-link{
    color: var(--icon-color-1);
}
/* End main section */

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    header{
        width: 100%;
    }
    .profile-title-container {
        padding: 1rem 0;
    }
    .profile-icon-container {
        width: 70px;
        height: 70px;
    }
    .profile-icon {
        font-size: 24pt;
    }
    .profile-text-container {
        padding-top: 1.2rem;
    }
    .profile-title {
        font-size: 24pt;
    }
    .profile-subtitle {
        font-size: 8pt;
        padding: 0 50px;
    }
    .search-container {
        padding-top: 1.5rem;
    }
    .search-group {
        width: 60%;
        max-width: 450px;
    }
    .search-group span i,
    .search-input {
        font-size: 12pt !important;
        padding: 4px 8px;
    }
    .search-sort-container {
        padding: 4px 10px;
        margin: 0 0 1rem 1rem;
    }
    .search-sort {
        font-size: 20pt;
    }
    .student-container {
        margin-top: 4rem;
    }
    .student-grid-container {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .student {
        margin: 20px 16px;
    }
    .student-photo{
        width: 90px;
        border-radius: 100%;
        box-shadow: 0 4px 8px #03031070;
    }
    .student-subcontainer-all{
        box-shadow: 0 0 8px #03031056;
        border-radius: 12px;
        padding-top: 60px;
        margin-top: -50px;
    }
    .student-name{
        font-size: 16px;
    }
    .student-nis{
        font-size: 12px;
    }
    .student-subcontainer-2{
        margin: 8px 0;
    }
    .student-religion{
        font-size: 10px;
    }
    .student-age{
        font-size: 10px;
    }
    .student-hobby{
        font-size: 10px;
    }
    .student-subcontainer-3{
        margin-bottom: 2px;
    }
    .student-quote{
        font-size: 10px;
        padding: 12px;
    }
    .student-subcontainer-4{
        margin-bottom: 2px;
    }
    .student-subcontainer-5{
        padding-bottom: 12px;
    }
}

@media screen and (max-width: 576px) {
    .profile-title-container {
        padding: 1rem 0;
    }
    .profile-icon-container {
        width: 70px;
        height: 70px;
    }
    .profile-icon {
        font-size: 24pt;
    }
    .profile-text-container {
        padding-top: 1.2rem;
    }
    .profile-title {
        font-size: 24pt;
    }
    .profile-subtitle {
        font-size: 8pt;
        padding: 0 50px;
    }
    .search-container {
        padding-top: 3rem;
    }
    .search-group {
        width: 60%;
        max-width: 350px;
    }
    .search-group span i,
    .search-input {
        font-size: 12pt !important;
        padding: 4px 8px;
    }
    .search-sort-container {
        padding: 4px 10px;
        margin: 0 0 1rem 1rem;
    }
    .search-sort {
        font-size: 20pt;
    }
    .student-container {
        margin-top: 4rem;
    }
    .student-grid-container {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .student {
        margin: 20px 16px;
    }
    .student-photo{
        width: 80px;
        border-radius: 100%;
        box-shadow: 0 4px 8px #03031070;
    }
    .student-subcontainer-all{
        box-shadow: 0 0 8px #03031056;
        border-radius: 12px;
        padding-top: 60px;
        margin-top: -50px;
    }
    .student-name{
        font-size: 12px;
    }
    .student-nis{
        font-size: 10px;
        font-weight: var(--bold-3);
        color: rgba(0, 0, 0, 0.4);
    }
    .student-subcontainer-2{
        margin: 8px 0;
    }
    .student-religion{
        font-size: 8px;
    }
    .student-age{
        font-size: 8px;
    }
    .student-hobby{
        font-size: 8px;
    }
    .student-subcontainer-3{
        margin-bottom: 2px;
    }
    .student-quote{
        font-size: 8px;
        padding: 12px;
    }
    .student-subcontainer-4{
        margin-bottom: 2px;
    }
    .student-subcontainer-5{
        padding-bottom: 12px;
    }
}

/* For small devices */
@media screen and (max-width: 360px) {
    .profile-title-container {
        padding: 1rem 0;
    }
    .profile-icon-container {
        width: 60px;
        height: 60px;
    }
    .profile-icon {
        font-size: 20pt;
    }
    .profile-text-container {
        padding-top: 1.2rem;
    }
    .profile-title {
        font-size: 20pt;
    }
    .profile-subtitle {
        font-size: 6pt;
        padding: 0 50px;
    }
    .search-container {
        padding-top: 2rem;
    }
    .search-group {
        border-radius: 300px;
    }
    .search-group {
        width: 40%;
        max-width: 200px;
    }
    .search-group span i,
    .search-input {
        font-size: 10pt !important;
        padding: 4px 8px;
    }
    .search-sort-container {
        padding: 4px 10px;
        margin: 0 0 1rem 1rem;
    }
    .search-sort {
        font-size: 18pt;
    }
    .student-container {
        margin-top: 4rem;
    }
    .student-grid-container {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    .student {
        margin: 20px 16px;
    }
    .student-photo{
        width: 80px;
        border-radius: 100%;
        box-shadow: 0 4px 8px #03031070;
    }
    .student-subcontainer-all{
        box-shadow: 0 0 8px #03031056;
        border-radius: 12px;
        padding-top: 60px;
        margin-top: -50px;
    }
    .student-name{
        font-size: 12px;
    }
    .student-nis{
        font-size: 10px;
        font-weight: var(--bold-3);
        color: rgba(0, 0, 0, 0.4);
    }
    .student-subcontainer-2{
        margin: 8px 0;
    }
    .student-religion{
        font-size: 8px;
    }
    .student-age{
        font-size: 8px;
    }
    .student-hobby{
        font-size: 8px;
    }
    .student-subcontainer-3{
        margin-bottom: 2px;
    }
    .student-quote{
        font-size: 8px;
        padding: 12px;
    }
    .student-subcontainer-4{
        margin-bottom: 2px;
    }
    .student-subcontainer-5{
        padding-bottom: 12px;
    }
}