/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    color: var(--color-2);
}

/* VARIABLE CSS */
:root{
    /* background colors */
    --bg-color-1: #a4bad6;
    --bg-color-2: #e8eef5;
    --bg-color-3: #dde8f7;
    --bg-dropdown: #F4FAFF; /*#f2f2f8*/
    --bg-calculator: #fbfbfb;

    /* font colors */
    --color-1: #143a6a;
    --color-2: #011D31;
    --color-3: #7798c1; /*hover navbar*/ /*#a4bad6*/
    --color-4: #e8eef5;

    /* Button colors */
    --btn-color-1: #3677b0;
    --btn-color-2: #3c84c4;
    
    /* Button hover */
    --link-color-1: #19a6f3;
    --link-color-2: #0767a2;

    /* Fonts Bold */
    --bold-1: 300;
    --bold-2: 400;
    --bold-3: 600;
    --bold-4: 900; 
}

body::-webkit-scrollbar{
    display: none;
}

/* Navbar Section */
header{
    width: 100%;
    background-color: var(--bg-color-1);
}

.btn-primary,
.btn-primary:visited {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-primary:hover,
.btn-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-2) !important;
    border-color: var(--btn-color-2) !important;
}
.btn-outline-primary,
.btn-outline-primary:visited {
    color: var(--color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
}
/* End Navbar Section */

/* Main Section */
.main-section{
    padding: 8rem 0;
    background-color: var(--bg-color-2);
}
.calculator-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 90%;
    max-width: 550px;
    background-color: #fbfbfb;
}
.calculator-top-container,
.calculator-bottom-container {
    width: 100%;
}
.calculator-top-container {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calculator-name-container, 
.calculator-history-container,
.calculator-output-container {
    width: 100%;
}
.history {
    text-align: right;
    padding: 0 5px;
    color: var(--color-3);
    font-size: 10pt;
    overflow: hidden;
}
.calculator-icon{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    /* background-color: #19a6f3; */
}
.calculator-name-container {
    background-color: #fbfbfb;
    border-radius: 15px 15px 0 0;
    padding: 0.4rem 1rem;
}
.calculator-name{
    font-weight: var(--bold-3);
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    /* background-color: #0767a2; */
}
.calculator-history-container textarea{
    background-color: #fbfbfb;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
}
.calculator-output-container{
    display: flex;
    /* background-color: royalblue; */
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.output {
    background-color: #fbfbfb;
    width: 100%;
    padding: 4px 2px;
    outline: none;
    font-size: 24px;
    /* background-color: #011D31; */
    border: none;
    text-align: right;
}
.history-icon,
.back-icon{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 28px;
    cursor: pointer;
}
.calculator-bottom-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--bg-color-3);
    text-align: center;
    border-radius: 0 0 15px 15px;
}
.calculator-btn{
    padding: 24px 0 !important;
    font-weight: var(--bold-3);
    font-size: 32px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.btn-important{
    background-color: var(--btn-color-1);
    color: rgba(255, 255, 255, 0.8);
}
.btn-corner-bottom-left {
    border-radius: 0 0 0 15px;
}
.btn-corner-bottom-right {
    border-radius: 0 0 15px 0;
}
/* End Main Section */

@media screen and (max-width: 992px) {
  header{
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
    .calculator-output-container{
        padding: 4px;
    }
    .output-container input{
        background-color: #fbfbfb;
        width: 200px;
        padding: 4px 2px;
        font-size: 24px;
        /* background-color: #011D31; */
    }
    .calculator-btn{
        padding: 24px;
        font-weight: var(--bold-3);
        font-size: 20px;
    }
}
@media screen and (max-width: 360px) {
    .history-icon,
    .back-icon{
        margin-left: 14px;
        font-size: 20px;
    }
}